h1 {
  font-family: Courier New;
  color: white;
  font-size: 45px;
  text-align: center;
}
p{
  font-size: 30px;
  text-align: center;
  font-family: Courier New;
  color: white;
}

body {
  background-image: url("http://img.phombo.com/img1/photocombo/5912/602_HD_Space_wallpapers_Various_Sises-117.jpg_Nebula_-_Carina_1.jpg");
}
button {
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 50px;
}